@import "tailwindcss";

@font-face {
  font-family: 'Product Sans Medium';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/assets/by-id/456117e4-efc4-4d8e-ae4e-62b9fa8d7ee5) format('woff');
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/assets/by-id/dc23a2d4-53d7-49aa-88e4-14cb2ccaf987) format('woff');
}

html,body{
  overflow-x: hidden;
  max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    background-color: var(--background);
    font-family: 'Product Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    
  }
  * {
    box-sizing: border-box;
  }


.glow{
  filter: blur(1px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  background-color: #0a0a0a;
  animation: glow 2s infinite alternate;
  }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /*font-family: Arial, Helvetica, sans-serif;*/
  }
